
<a href="/reviews" class="direction">
<button class="direction">
    New Review
</button>
</a>

<a href="/reviews" class="direction">
<button class="direction">
    Reviews
</button>
</a>

<a href="/categories" class="direction">
<button class="direction">
    Category
</button>
</a>

<a href="/tags" class="direction">
<button class="direction">
    Tags
</button>
</a>

   

 
