<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/category">
    <button>Categories</button>
</a>
<a href="/reviews">
    <button>View Reviews</button>
</a>
<a href="/submit-review">
    <button>Submit New Reviews</button>
</a>
<a href="/tag">
    <button>Tag</button>
</a>

  

 
