<!DOCTYPE html>
<html>
  <head>
    <title>Red Hawk Reviews</title>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    {{!-- <link rel='stylesheet' href='/stylesheets/categories.css'/> --}}
  </head>
  <body>    
    <header class="header"><h1>Red Hawk Reviews</h1></header>
      <div class="redbird"> <img src="https://cdn.pixabay.com/photo/2016/10/26/10/37/bird-1771116__480.png" height="150px" width="300px"></div> 
        <nav class="navigation-bar">
          <ul class="navigation-bar"> 
            <li class="navigation-bar__item"><a href="/reviews/">Reviews</a></li>
            <li class="navigation-bar__item"><a href="/reviews/new">Submit New Review</a></li>
            <li class="navigation-bar__item"><a href="/categories">Categories</a></li>
            <li class="navigation-bar__item"><a href="/tags/">Tags</a></li>
          </ul>
        </nav>
    {{{body}}}
  </body>
  <footer>Review Site - Team 1<br>&copy;WCCI 2019</footer>
</html>
