<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/categories.css' />
    <link rel='stylesheet' href='/stylesheets/Tags.css' />
    <link rel='stylesheet' href='/stylesheets/index.css'/>
  </head>
  <body>
    <header class="main-header">
      <div class="redbird"> <img src="https://cdn.pixabay.com/photo/2016/10/26/10/37/bird-1771116__480.png" height="150px" width="300px"></div> 
      <h1 class="main-header__title">{{title}}</h1>
        <nav class="navigation">
          <ul class="navigation-bar"> 
            <li class="navigation-bar__item"><a href="/reviews">Reviews</a></li>
            <li class="navigation-bar__item"><a href="/reviews/new">Submit New Review</a></li>
            <li class="navigation-bar__item"><a href="/categories">Categories</a></li>
            <li class="navigation-bar__item"><a href="/tags">Tags</a></li>
          </ul>
        </nav>
    </header>
    {{{body}}}
  </body>
  <footer>
    <br>
    <br>
    <p class="footer__copyright">&copy; We Can Code It, Team 1. 2019</p>
  </footer>
</html>
