<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <h1 class="header">
   <nav class="navBar">
      <li class="navBar__list-item"><a href="#new-review">New Review</a></li>
      <li class="navBar__list-item"><a href="#reviews">Reviews</a></li>
      <li class="navBar__list-item"><a href="#categories">Categories</a></li>
      <li class="navBar__list-item"><a href="#tags">Tags</a></li>
    </nav> 
 </h1>
 
  <body>
    {{{body}}}
  </body>
</html>
