<form action="/" method="POST">
        <label>Title: <input type="text" name="title" /></label>
        <label>Rating: <input type="text" name="rating" /></label>
        <label>Content: <input type="text" name="content" /></label>
        <label>Category: <input type="text" name="category" /></label>
        <label>Tags: <input type="text" name="tags" /></label>
        <button>Submit</button>
</form>
