<form action="/reviews/" method="POST">
        <label>Title: <input type="text" name="title" /></label>
        <label>Rating: <select name="rating">
            <option value="1 star">1 star</option>
            <option value="2 stars">2 stars</option>
            <option value="3 stars">3 stars</option>
            <option value="4 stars">4 stars</option>
            <option value="5 stars">5 stars</option>
            </select>
        </label>          
        <label>Content: <input type="text" name="content" /></label>
        <label>Category: <select name="category">
            <option value="Hair">Hair</option>
            <option value="Mustache">Mustache</option>
            <option value="Tattoo">Tattoo</option>
        </select></label>
        <label>Tags: <input type="text" name="tags" /></label>
        <button>Submit</button>
</form>