<form action="/reviews" method="POST">
        <label>Title: <input type="text" name="title" /></label>
        <label>Rating: <select name="rating">
            <option value="5">5 stars</option>
            <option value="4">4 stars</option>
            <option value="3">3 stars</option>
            <option value="2">2 stars</option>
            <option value="1">1 star</option>
            </select>
        </label>          
        <label>Content: <input type="text" name="content" /></label>
        <label>Category: 
            <select name="category">
            {{#each category}}
                <option value="{{id}}">{{categoryTitle}}</option>
            {{/each}}            
            </select>
        </label>
        <label>
            {{#each tag}}
            <input name="tag" type="checkbox" value="{{id}}">{{tagTitle}}</label>
             {{/each}}
        <button>Submit</button>
</form>
