<div class="container">
    <h1>Tag</h1>
        <article class="user-card">  
            <ul>
                {{#each tag}}
                
                <h3>{{title}}</h3>
                <p>{{content}}</p>
                <p>{{rating}}</p>
                {{/each}}
            </ul>
        </article>
</div>