<center><h1>Tags</h1></center>
{{#each tags}}
        <a href="./{{id}}">{{tagTitle}}</a>
{{/each}}
    <section>
        <h2>Outdoor</h2>
        <div class="wrapper">
            <div class="outdoorstuff"><a href="fishing.html"> Fishing</a> </div>
            <div class="outdoorstuff"><a href="https://www.amazon.com"> Camping</a></div>
            <div class="outdoorstuff"><a href="https://www.amazon.com/camping-hiking/b?ie=UTF8&node=3400371hiking"> hiking</a></div>
            <div class="outdoorstuff"> Hunting</div>
            <div class="outdoorstuff"> Shooting</div>
            <div class="outdoorstuff"> Bulletproof-vest</div>
        </div>
        <button><a href="/"> Go back </a></button>
    </section>

<section>
    <h2>Apparrel</h2>
    <div class="wrapper">
        <div class="apparrelstuff">Footwear</div>
        <div class="apparrelstuff">Outwear</div>
        <div class="apparrelstuff">Accessories</div>
    </div>
    <button><a href="/"> Go back </a></button>
</section>
<section>
    <h2>Sports Equipment</h2>
    <div class="wrapper">
        <div class="sportstuff">Soccer</div>
        <div class="sportstuff">Basketball</div>
        <div class="sportstuff">Football</div>
    </div>
    <button><a href="/"> Go Back </a></button>
    
</section>