<center>

<h1> Tags</h1>
{{#each tags}}
        <p><a href="tags/{{id}}">    {{tagTitle}}    </a></p>

{{/each}}
<br>
<form action="/tags" method="POST">
    <label>Add a tag: <input type="text" name="title" required/></label>
    <button>Submit</button>
</form>

</center>