<h1> Tags</h1>
{{#each category}}
        <a href="/{{id}}">{{categoryTitle}}</a>
{{/each}}
 <section>
        <h2>Outdoor</h2>
        <div class="wrapper">
            <div class="outdoorstuff"><a href="fishing.html"> fishing</a> </div>
            <div class="outdoorstuff"><a href="https://www.amazon.com"> camping</a></div>
            <div class="outdoorstuff"><a href="https://www.amazon.com/camping-hiking/b?ie=UTF8&node=3400371hiking"> hiking</a></div>
            <div class="outdoorstuff"> hunting</div>
            <div class="outdoorstuff"> shooting</div>
            <div class="outdoorstuff"> bulletproof-vest</div>
        </div>
<button><a href="/"> Go back </a></button>

<section>
    <div class="wrapper">
        <h2>Apparrel</h2>
        <div class="apparrelstuff">footwear</div>
        <div class="apparrelstuff">outwear</div>
        <div class="apparrelstuff">accessories</div>
        <button><a href="/"> Go back </a></button>
    </div>
</section>