* {
    box-sizing: border-box;
    list-style: none;
    margin: 0%;
    padding: 0%
}

a:link, a:visited {
  color: var(--red);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--black);
  text-decoration: none;
}

html {
  --red:rgba(218,48,50,1);
  --black:black;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.main-header__title {
  text-align: center;
}

.redbird{
  display: flex;
  justify-content: bottom;
}

.navigation-bar {
    display: inline-flex;
    justify-content: center;
    margin: 1rem;
    padding: .5rem;
    background-color: rgba(250,222,76,1);
}

.navigation-bar__item {
  display: flex;	
  margin-right: 1rem;
  padding: 1rem 1rem;
  text-align: center;
}

.footer__copyright {
  text-align: center;
}

.review__submission-form{
  display: flexbox
}