* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%
}

.wrapper {
    display:grid;
    grid-gap:4px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
}
 
.main{
    grid-column:1/4;
    grid-row: auto;
    grid-gap: 10px;
    border: 2px solid #e7e7e7;
    margin:10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.cards {
    display:flex;   
}

.card{
    display:flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.color{
    width: 100%;
    height: 300px;
    padding: 10px;
    align-content: center;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: red;

    
}

.btn {
    color:black;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }

 /*
.card { 
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    max-width: 100%;
    max-height: 100%;
    width:auto;
    height: auto;
}

.card img {
    height: auto;
    max-width: 100%;
    max-height: 450px;
    vertical-align: middle;
}

.img-container {
    display: grid;
    grid-column: 1/4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    margin: 10px;
    overflow: hidden;
    position: relative;
    width:100%; 
}

.img-container * {
    box-sizing: border-box;
    transition: all 0.25s ease;
}

.img-container img {
    padding:10px;
    display: grid;
    max-width: 100%;
    vertical-align: top;
    position: relative;
    /* opacity: 0.75; 
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}  */
